.work-header {
  height: 80px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.left-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.right-box {
  display: flex;
  padding-right: 15px;
}

.tip-word {
  display: flex;
  height: 100% !important;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-word {
  font-size: 16px;
  font-weight: 500;
}

.tips {
  color: #00000073;
  margin-top: 10px;
  font-size: 14px;
}

.tag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.my-box {
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 700px;

}

.main-box-left {

  margin: 0 15px;
  width: 70%;
  margin-top: 15px;
}

.main-box-right {
  margin-top: 15px;
  margin-right: 15px;
  width: 30%;
}

.grid-title {
  display: flex;
  justify-content: start;
  align-items: center;

  .little-word {
    font-size: 22px;
    padding-left: 5px;
  }
}

.grid-main {
  margin-top: 10px;
  color: #00000073;
  display: flex;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  height: 20px;
}

.grid-footer {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  color: #00000073;
}
.linkItemStyle{
  border:1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
